[submodule ".extra/gdbinit"]
	path = .extra/gdbinit
	url = https://github.com/gdbinit/Gdbinit.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
    url = https://github.com/gmarik/Vundle.vim.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".extra/ls_colors"]
	path = .extra/ls_colors
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule ".ssh-ide"]
	path = .ssh-ide
	url = https://github.com/ccontavalli/ssh-ident.git
