include ~/.extra/.nano/apacheconf.nanorc
include ~/.extra/.nano/asciidoc.nanorc
include ~/.extra/.nano/asm.nanorc
include ~/.extra/.nano/awk.nanorc
include ~/.extra/.nano/c.nanorc
include ~/.extra/.nano/cmake.nanorc
include ~/.extra/.nano/coffeescript.nanorc
include ~/.extra/.nano/colortest.nanorc
include ~/.extra/.nano/conf.nanorc
include ~/.extra/.nano/csharp.nanorc
include ~/.extra/.nano/css.nanorc
include ~/.extra/.nano/cython.nanorc
include ~/.extra/.nano/dot.nanorc
include ~/.extra/.nano/email.nanorc
include ~/.extra/.nano/Dockerfile.nanorc
include ~/.extra/.nano/fish.nanorc
include ~/.extra/.nano/fortran.nanorc
include ~/.extra/.nano/gentoo.nanorc
include ~/.extra/.nano/git.nanorc
include ~/.extra/.nano/gitcommit.nanorc
include ~/.extra/.nano/glsl.nanorc
include ~/.extra/.nano/go.nanorc
include ~/.extra/.nano/groff.nanorc
include ~/.extra/.nano/haml.nanorc
include ~/.extra/.nano/html.nanorc
include ~/.extra/.nano/ini.nanorc
include ~/.extra/.nano/inputrc.nanorc
include ~/.extra/.nano/java.nanorc
include ~/.extra/.nano/javascript.nanorc
include ~/.extra/.nano/js.nanorc
include ~/.extra/.nano/json.nanorc
include ~/.extra/.nano/keymap.nanorc
include ~/.extra/.nano/kickstart.nanorc
include ~/.extra/.nano/ledger.nanorc
include ~/.extra/.nano/lisp.nanorc
include ~/.extra/.nano/lua.nanorc
include ~/.extra/.nano/makefile.nanorc
include ~/.extra/.nano/man.nanorc
include ~/.extra/.nano/markdown.nanorc
include ~/.extra/.nano/mpdconf.nanorc
include ~/.extra/.nano/mutt.nanorc
include ~/.extra/.nano/nanorc.nanorc
include ~/.extra/.nano/nginx.nanorc
include ~/.extra/.nano/patch.nanorc
include ~/.extra/.nano/peg.nanorc
include ~/.extra/.nano/perl.nanorc
include ~/.extra/.nano/php.nanorc
include ~/.extra/.nano/pkg-config.nanorc
include ~/.extra/.nano/pkgbuild.nanorc
include ~/.extra/.nano/po.nanorc
include ~/.extra/.nano/pov.nanorc
include ~/.extra/.nano/privoxy.nanorc
include ~/.extra/.nano/python.nanorc
include ~/.extra/.nano/reST.nanorc
include ~/.extra/.nano/rpmspec.nanorc
include ~/.extra/.nano/ruby.nanorc
include ~/.extra/.nano/scala.nanorc
include ~/.extra/.nano/sed.nanorc
include ~/.extra/.nano/sh.nanorc
include ~/.extra/.nano/sls.nanorc
include ~/.extra/.nano/sql.nanorc
include ~/.extra/.nano/systemd.nanorc
include ~/.extra/.nano/tcl.nanorc
include ~/.extra/.nano/tex.nanorc
include ~/.extra/.nano/vala.nanorc
include ~/.extra/.nano/vi.nanorc
include ~/.extra/.nano/xml.nanorc
include ~/.extra/.nano/xresources.nanorc
include ~/.extra/.nano/yaml.nanorc
include ~/.extra/.nano/yum.nanorc
include ~/.extra/.nano/zsh.nanorc



set tabsize 4
set tabstospaces


